/*Styling for forms*/

body{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


/* Sizing the forms*/
#registration, #login{
    margin-top: 5rem;
    padding: 0 5rem 2rem;
    background-color: #D9D9D9;
    border-radius: 6px;
}
/* Changing style for header 2*/
#login h2, #registration h2{
    color: #B1B795;
    font-size: 60px;
    margin-bottom: 1rem;
    text-align: center;
}

label{
    color: #B1B795;
    font-size:20px;
    font-weight: 500;
}

input[type="text"]{
    border-radius: 4px;
    border:2px solid #B1B795;
    color: #B1B795;
}

#login div, #registration div{
    width: 100%;
    display: flex;
    padding: 2rem 2rem 0;
    justify-content: center;
}

/*Styling button*/
button{
    color: aliceblue;
    padding:10px;
    font-size: 20px;
    font-weight: 600;
    background-color: #B1B795;
    border:none;
    border-radius: 5px;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

button:hover{
    background-color: #696d5a;
}


h1 a{
    font-family: "Hi Melody", sans-serif;
    font-size: 96px;
    font-weight: 400;
    margin-right:auto;
}

h1{
    position:fixed;
    left:10px;
}


#question, #question option{
    color: #B1B795;
    border-radius: 5px;
    border:2px solid #B1B795;
}
